<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a18.path">


    <application
        android:name="pdog18.com.core.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/google_play"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/google_play"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:roundIcon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dex.DexActivity" />
    </application>

</manifest>