<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a18.path">


    <application
        android:name="kt.pdog18.com.core.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".spider.SpiderActivity" />
        <activity android:name=".path.PathActivity" />
        <activity android:name=".parabola.ParabolaActivity" />
        <activity android:name=".gift.GiftActivity" />
        <activity android:name=".chart.ChartActivity" />
        <activity android:name=".canvas1.Canvas1Activity" />
        <activity android:name=".flipper.FlipperActivity" />
        <activity android:name=".superscript.SuperScriptActivity" />
        <activity android:name=".scale.ScaleActivity" />
        <activity android:name=".matrix.MatrixMapActivity" />
        <activity android:name=".patcheffect.PathEffectActivity" />
        <activity android:name=".number.NumberActivity" />
        <activity android:name=".scratchview.ScratchActivity" />
        <activity android:name=".retrofitrequest.RetrofitActivity" />
        <activity android:name=".proterduff.ProterDuffActivity" />
        <activity android:name=".scrollchart.ScrollChartActivity" />
        <activity android:name=".motionevent.MotionEventActivity" />
        <activity android:name=".cardviewpager.CardViewPagerActivity" />
        <activity android:name=".cardrecyclerview.CardRecyclerviewActivity" />
        <activity android:name=".piechart.PieChartActivity" />
        <activity android:name=".invest.InvestActivity" />
        <activity android:name=".smartanalysis.SmartAnalysisActivity" />
        <activity android:name=".text.SmoothScrollActivity" />
        <activity android:name=".constraintlayout.ConstraintLayoutActivity" />
        <activity android:name=".slidebacklayout.SlideBackActivity" />
        <activity android:name=".fluidslider.FluidSliderActivity" />
        <activity android:name=".looplogger.LoopLoggerActivity" />
        <activity android:name=".transition.TransitionActivity" />
        <activity android:name=".rxjavaoperator.RxJavaOperatorActivity" />
        <activity android:name=".overscroll.OverScrollActivity" />
        <activity android:name=".layoutmanager.CoordinatorActivity" />
        <activity android:name=".db.DBActivity" />
        <activity android:name=".materialdesign.MaterialDesignActivity" />
        <activity android:name=".dex.DexActivity" />
        <activity android:name=".span.SpanActivity" />
        <activity android:name=".savestate.ActivityA" />
        <activity android:name=".savestate.ActivityB_NO_SAVE" />
        <activity android:name=".savestate.ActivityC_NO_SAVE" />
        <activity android:name=".bluetooth.BlueToothActivity" />
        <activity android:name=".evaluator.EvaluatorActivity" />
        <activity android:name=".websocket.WebsocketActivity" />
        <activity android:name=".game.GameActivity"/>
    </application>

</manifest>