<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a18.path">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".spider.SpiderActivity" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".path.PathActivity" />
        <activity android:name=".wave.WaveActivity" />
        <activity android:name=".parabola.ParabolaActivity" />
        <activity android:name=".gift.GiftActivity" />
        <activity android:name=".bezier.BezierActivity" />
        <activity android:name=".chart.ChartActivity" />
        <activity android:name=".canvas1.Canvas1Activity" />
        <activity android:name=".flipper.FlipperActivity" />
        <activity android:name=".superscript.SuperScriptActivity" />
        <activity android:name=".scale.ScaleActivity" />
        <activity android:name=".matrix.MatrixMapActivity" />
        <activity android:name=".adbconnect.AdbConnectActivity" />
        <activity android:name=".patcheffect.PathEffectActivity" />
        <activity android:name=".number.NumberActivity" />
        <activity android:name=".znfxchart.ZnfxActivity" />
        <activity android:name=".scratchview.ScratchActivity" />
        <activity android:name=".jxyview.JxyActivity" />
        <activity android:name=".retrofitrequest.RetrofitActivity" />
        <activity android:name=".proterduff.ProterDuffActivity" />
        <activity android:name=".arcseekbar.ArcSeekbarActivity" />
        <activity android:name=".scrollchart.ScrollChartActivity" />
        <activity android:name=".motionevent.MotionEventActivity" />
        <activity android:name=".cardviewpager.CardViewPagerActivity" />
        <activity android:name=".flexbox.FlexboxActivity" />
        <activity android:name=".cardrecyclerview.CardRecyclerviewActivity" />
        <activity android:name=".piechart.PieChartActivity" />
        <activity android:name=".map.MapActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f8fb6c26b0c1b0874d6885137ab0f2ef" />

        <activity android:name=".map.MapEventActivity" />
        <activity android:name=".invest.InvestActivity" />
        <activity android:name=".smartanalysis.SmartAnalysisActivity" />
        <activity android:name=".text.SmoothScrollActivity" />
        <activity android:name=".constraintlayout.ConstraintLayoutActivity" />
        <activity android:name=".slidebacklayout.SlideBackActivity" />
        <activity android:name=".card.CardHeightActivity" />
        <activity android:name=".fluidslider.FluidSliderActivity" />
        <activity android:name=".viewpagertest.ViewPagerFragmentActivity" />
        <activity android:name=".looplogger.LoopLoggerActivity" />
        <activity android:name=".transition.TransitionActivity"></activity>
    </application>

</manifest>